.item-artigo{
    width: 24%;
    height: auto;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
}

.item-artigo figure{
    text-align: center;
    border: 1px solid #000000;
    padding: 5px;
}

.logo{
    width: 256px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 10px 10px 0;
    background-color: #fff;
}

.texto{
    width: 75%;
}

/* ======================================================================================= */
/* media queri */
@media only screen and (max-width: 1300px){
    .item-artigo{
        width: 49%;
    }
    /* ====================================*/
    .texto{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){  
    .artigos{
        flex-direction: column;
    }
    .item-artigo{
        width: 100%;
    }
    /* ====================================*/
    .texto{
        width: 100%;
    } 
}